$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #434343;

$color-white: #fff;
$color-black: #000;

$bg-color-dark: rgba(0, 0, 0, 0.4);
$bg-color-light: rgba(255, 255, 255, 0.05);

// FONT
$default-font-size: 1.6rem;
